<a href="https://colab.research.google.com/github/Sambhaji6529/Python-Programs/blob/main/For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **For Loops**

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [1]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

# **Looping Through a String**

Even strings are iterable objects, they contain a sequence of characters:

In [2]:
for x in "banana":
  print(x)

b
a
n
a
n
a

# **The break Statement**

With the break statement we can stop the loop before it has looped through all the items:

In [5]:
fruits =["apple","banana","cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

Exit the loop when x is "banana", but this time the break comes before the print:

In [6]:
fruits=["apple","banana","cherry"]
for x in fruits:
  if x=="banana":
    break
  print(x)

apple

# **The continue Statement**
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [10]:
fruits=["apple","banana","cherry"]
for x in fruits:
  if x=="banana":
    continue
  print(x)

apple
cherry

# **The range() Function**

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [11]:
#Using the range() function:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [12]:
for x in range(2,6):
  print(x)

2
3
4
5

In [14]:
#Increment the sequence with 3 (default is 1):
for x in range(2,25,3):
  print(x)

2
5
8
11
14
17
20
23

# **Else in For Loop**

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [16]:
for x in range(10):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
8
9
Finally finished!

# **Nested Loops**
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [17]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry