<a href="https://colab.research.google.com/github/Sambhaji6529/Python-Programs/blob/main/If_Else_Elif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=33
b=200
if b>a:
  print("b is greater than a")

b is greater than a

Expl Code:- In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

In [10]:
name=input("Enter The String:")
if name=="ram":
   print("Hello Good Morning")
   print("How are you!")

Enter The String:ram
Hello Good Morning
How are you!

In [12]:
#elif
a=35
b=35
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are  equal ")

a and b are  equal

Expl code:- In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

# Else

In [13]:
a= 200
b= 33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Expl Code:- a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

In [14]:
#only use else
a=150
b=23
if b>a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# Short Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

In [15]:
#Short Hand If
if a>b: print("a is greater than b")

a is greater than b

# Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [17]:
a=2
b=33
print("a") if a>b else print("b")

b

# And

The and keyword is a logical operator, and is used to combine conditional statements

In [21]:
a=200
b=33
c=499
if a>b and c>a:
  print("Both conditions are true")

Both conditions are true

# Or
The or keyword is a logical operator, and is used to combine conditional statements:

In [22]:
a=200
b=33
c=500
if a>b or a>c:
  print("at least one of the conditions is true")

at least one of the conditions is true

# Nested If
You can have if statements inside if statements, this is called nested if statements.

In [1]:
x=41
if x>10:
  print("Above ten,")
  if x>20:
    print("and also above20!")
  else:
    print("but not above 20.")

Above ten,
and also above20!

# Transfer Statements
# Break:
We can use break statement inside loops to break loop execution based on some condition.

In [3]:
for i in range(10):
 if i==7:
   print("processing is enough...plz break")
   break
 print(i)

0
1
2
3
4
5
6
processing is enough...plz break

In [11]:
cart=[10,20,600,60,70]
for item in cart:
  if item>500:
    print("TO place this order insurence must be required")
    break
  print(item)

10
20
TO place this order insurence must be required

# Continue
We can use continue statement to skip current iteration and continue next iteration.

In [12]:
# Eg 1: To print odd numbers in the range 0 to 9
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [20]:
cart=[10,20,500,700,50,60]
for item in cart:
  if item>=500:
    print("We cannot process this item:",item)
    continue
  print(item)

10
20
We cannot process this item: 500
We cannot process this item: 700
50
60

In [25]:
numbers=[10,20,0,5,0,30]
for n in numbers:
  if n==0:
    print("hey how we can divide with zero..just skipping")
    continue
  print("100/{} = {}".format(n,100/n))

100/10 = 10.0
100/20 = 5.0
hey how we can divide with zero..just skipping
100/5 = 20.0
hey how we can divide with zero..just skipping
100/30 = 3.3333333333333335

# Loops With else block
Inside loop execution, if break statement not executed, then only else part will be executed.

"else" means loop without break

In [29]:
cart=[10,20,30,40,50]
for item in cart:
  if item>=500:
    print("We cannot process this order")
    break
  print(item)
else:
  print("Congrats .....all items processed sucessfully")

10
20
30
40
50
Congrats .....all items processed sucessfully

# pass statement:

In our programming syntactically if block is required which won't do anything then we can define that empty block with pass keyword.

In [35]:
for i in range(100):
  if i%9==0: # start the 9 number
    print(i)
  else:
    pass

0
9
18
27
36
45
54
63
72
81
90
99